# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
# !.dfx/
# .dfx/*
# !.dfx/local/
# !.dfx/ic/
# .dfx/**/*.wasm
# .dfx/local/wallets.json
.dfx

.vessel

# frontend code
node_modules/
dist/
